[OBJECTINFO]
OBJECT = HUAWEI_SHANDONG
#KEYRULES = SHANDONG
GATEWAYID = {{ esncode }}
GETURL = http://192.168.3.100:8080/iot/devices/auth/gateway

[BROKERINFO]
HOST = {{ host }}
PORT = {{ port }}
CLINETID = {{ client_id }} 
USERNAME = {{ username }}
PASSWORD = {{ password }} 
