{
    "id": "{{ id }}",
    "gw_ip": "{{ gw_ip }}",
    "gw_port": {{ gw_port }},
    "channel": [
        {
            "dst_ip": "{{ dst_ip1 }}",
            "dst_port": {{ dst_port1 }},
            "local_ip": "{{ local_ip1 }}",
            "local_port": {{ local_port1 }},
            "apdu_ver": 16
        },
        {
            "dst_ip": "{{ dst_ip2 }}",
            "dst_port": {{ dst_port2 }},
            "local_ip": "{{ local_ip2 }}",
            "local_port": {{ local_port2 }},
            "apdu_ver": 15 
        }

 
    ]
}